RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTP_REFERER} !^http://coinstrash.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coinstrash.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coinstrash.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://coinstrash.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forum.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forum.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iot.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iot.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nangae.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nangae.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nangae.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nangae.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coinstrash.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coinstrash.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coinstrash.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.coinstrash.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forum.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forum.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iot.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iot.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nangae.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nangae.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nangae.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nangae.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coinstrash.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coinstrash.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coinstrash.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://coinstrash.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forum.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forum.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iot.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iot.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nangae.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nangae.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nangae.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nangae.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coinstrash.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coinstrash.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coinstrash.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.coinstrash.tk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forum.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forum.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iot.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iot.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nangae.coinstrash.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nangae.coinstrash.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nangae.tk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nangae.tk$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

